{{#if this.loggedIn}}
    <div class="navbar">
        <div>My Weather</div>
        <a {{action this.logOut}}>Log Out</a>
    </div>
{{/if}}

<div class="main {{if this.loggedIn 'logged-in'}}">
  {{#if this.loggedIn}}
    <WeatherView::WeatherView></WeatherView::WeatherView>
  {{else}}
  <div class="login-banner">My Weather</div>  
    {{#if signupFlow}}
        <SignUpFlow::SignUp @completeSignUp={{action this.completeSignUp}}></SignUpFlow::SignUp>
        <div class="signup-btn-container">
            <button class="main-btn" type="button" {{on "click" this.completeSignUp}}>Complete Sign Up</button>     
        </div>
    {{else}}
        <LogInFlow::LogIn></LogInFlow::LogIn>
        <div class="signup-btn-container">
            <button class="main-btn" type="button" {{on "click" this.signUp}}>Sign Up</button>
        </div>
    {{/if}}
  {{/if}}
</div>